<p>dynamic-plots works!</p>

 <!-- <div fxFlexFill fxLayout="row wrap" class ="row">
    
        <plotly-plot fxFlex="50"
       [data]="graph1.data"
       [layout]="graph1.layout"
       [useResizeHandler]="true"
       (hover)="hover($event)"
       (mouseleave)="mouseLeave($event)"></plotly-plot>
    </div>
    
<div>  <plotly-plot fxFlex="50"
    [data]="(interactivePlotSubject$ | async)"
    [layout]="graph2.layout"
    [useResizeHandler]="true"></plotly-plot></div> -->
 
 <div fxFlexFill fxLayout="row wrap" class ="row">
     <tr>
     <td>  <plotly-plot fxFlex="50"
        [data]="graph1.data"
        [layout]="graph1.layout"
        [useResizeHandler]="true"
        (hover)="hover($event)"
        (mouseleave)="mouseLeave($event)"></plotly-plot></td>
        <td><plotly-plot fxFlex="50"
            [data]="(interactivePlotSubject$ | async)"
            [layout]="graph2.layout"
            [useResizeHandler]="true"></plotly-plot></td>
    </tr>
       
    
    

  
 </div>

